header {
    width: 100%;
    height: 70px;
    background-color: #ec362d;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 77px;
}

header p {
    font-size: 37px;
    font-weight: bold;
    color: #fff;
}