
.my_quizzes {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;    
}

.my_quizzes span {
    font-size: 20px;
    font-weight: 700;
}

.my_quizzes_head {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.my_quizzes ion-icon {
    color: #ec362d;
    font-size: 35px;
    margin-left: 20px;
}

.create_quizz {
    width: 1051px;
    height: 181px;
    border: 1px dashed #d5d5d5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.create_quizz p {
    font-size: 20px;
    color: #b9b9b9;
}

.create_quizz button {
    height: 40px;
    width: 150px;
    font-size: 21px;
    color: #ec362d;
    margin-top: 30px;
    border: 1px dashed #ec362d;
    border-radius: 50px;
    background-color: transparent;
}

@media (max-width: 1100px) {
    .my_quizzes {
        width: 90%;
    }

    .create_quizz {
        width: 100%;
    }

    .my_quizzes_head {
        justify-content: space-between;
    }
}