.result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column nowrap;
}

.quizz-result {
    width: 100%;
    max-width: 750px;
    padding: 18px;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin: 0 auto 30px;
    font-weight: bold;
}

.quizz-result .title {
    font-size: calc(0.3vw + 18px);
    width: 100%;
    height: calc(4.6vw + 72px);
    background: #ec362d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.quizz-result figure {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin-top: 12px;
}

.quizz-result figure img {
    width: 100%;
}

.quizz-result figure figcaption {
    font-size: 17px;
    margin-top: 20px;
    line-height: 20px;
    letter-spacing: 0.04rem;
}

.result button {
    background: #ec362d;
    width: calc(3.7vw + 206px);
    height: calc(0.7vw + 42px);
    margin: 0 auto 5px;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 21px;
}

.result button:first-of-type {
    margin-top: 34px
}

.result button:last-of-type {
    margin-bottom: 70px;
    color: #818181;
    background: #e5e5e5;
}

@media (min-width: 600px) {
    .quizz-result figure {
        flex-flow: row nowrap;
    }
    
    .quizz-result figure img {
        width: 48%;
    }
    
    .quizz-result figure figcaption {
        width: 48%;
        line-height: 25px;
    }
}